.playToEarnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    .playToEarn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;

        .leftChild {
            width: 50%;

            p {
                color: #777687;
            }

            span {
                color: var(--primary-orange);
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .playToEarnContainer {
        padding: 1rem 2rem;
        .playToEarn {
            flex-direction: column;
            gap: 1rem;

            img {
                width: 300px !important;
                height: 300px !important;
            }

            .leftChild {
                width: 100%;
                text-align: center;
            }
        }
    }
}
