.button {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    font-family: var(--font-syne);
}

.buttonPrimary {
    background-color: var(--primary-orange);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    font-family: var(--font-syne);
    cursor: pointer;
}

.buttonOutlined {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    font-family: var(--font-syne);
    cursor: pointer;
}
