.formContainer {
    background-color: #060608;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem;

    input {
        width: 100%;
        padding: 15px 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #1f1f21;
        color: white;
    }
}
