.roundedLogo {
    border-radius: 10px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navItem {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

.navItem:hover {
    border-bottom: 3px solid white;
}

.navItemActive {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid var(--primary-orange);
}

.iconContainer {
    display: none;
}

.mobileNav {
    display: none;
}

@media screen and (max-width: 900px) {
    .navContainer {
        padding: 1rem 2rem;
    }

    .navLinks {
        display: none;
    }

    .buttonContainer {
        display: none;
    }

    .iconContainer {
        display: block;
    }

    .mobileNav {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background-color: hsl(240, 13%, 6%);
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        z-index: 10000000;
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);

        .navLinks {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            padding: 3rem 0;
            gap: 3rem;
        }
    }
}
