.adminContainer {
	padding: 2rem;
	max-width: 1200px;
	margin: 0 auto;

	h1 {
		margin-bottom: 2rem;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 500px;
	margin-bottom: 2rem;

	input[type="text"] {
		padding: 0.5rem;
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	button {
		padding: 0.5rem;
		background-color: #0070f3;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background-color: #0051a2;
		}
	}
}

.gamesList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
}

.gameItem {
	border: 1px solid #ccc;
	padding: 1rem;
	border-radius: 8px;

	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
		border-radius: 4px;
	}

	.gameInfo {
		margin: 1rem 0;
	}

	button {
		background-color: #82ae42;
		color: white;
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 4px;
		cursor: pointer;
		margin: 0 5px;

		&:hover {
			background-color: #628330;
		}
	}
}
