.roundedLogo {
    border-radius: 10px;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footerRow {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 5rem 0;

        h3 {
            line-height: 0;
        }

        .column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        .column div {
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
                text-decoration: none;
                color: #777687;
            }

            a:hover {
                text-decoration: underline;
                color: white;
            }
        }
    }

    .rights {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        color: #777687;
        font-size: 14px;
    }

    .rights,
    .footerRow {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .footerContainer {
        align-items: flex-start;

        .footerRow {
            padding: 2rem;
            flex-direction: column;
            gap: 2rem;

            .column {
                gap: 10px;

                div {
                    gap: 5px;
                }
            }
        }

        .rights {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
