.cardContainer {
    border: 1px solid #575757;
    border-radius: 30px;
    padding: 20px;
    width: 25%;
    min-height: 250px;
}

.boldText {
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .cardContainer {
        width: 60%;
    }
}
