.star {
    @keyframes starHighlight {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-45deg);
        }
        75% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    animation: starHighlight 1500ms infinite;
}

.hero {
    margin: 5rem 0;
    text-align: center;

    .games {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 3rem;

        .game {
            img {
                border-radius: 50px;
                width: 200px;
                height: 200px;

                @keyframes imageBigSmall {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(0.9);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
                animation: imageBigSmall 1000ms infinite;
                transition: all ease;
            }
            p {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            h2 {
                margin-bottom: 0;
                margin-top: 8px;
            }

            button {
                cursor: pointer;
                padding: 10px 25px;
                font-size: 16px;
                border-radius: 30px;
                background-color: var(--primary-orange);
                border: none;
                outline: none;
                color: white;
                font-weight: bold;
                font-family: var(--font-syne);
            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (max-width: 900px) {
        .games {
            grid-template-columns: auto auto;

            .game {
                img {
                    border-radius: 40px;
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}

.featuresContainer {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    .textRegular {
        color: #777687;
    }
}

.featuresCardRow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;

    > :nth-child(1) {
        background: linear-gradient(45deg, #07232d 40%, #abcdd5);
    }

    > :nth-child(2) {
        background: linear-gradient(45deg, #120d07 40%, #e4c28e);
    }

    > :nth-child(3) {
        background: linear-gradient(45deg, #0a0b1d 40%, #748a95);
    }

    > :nth-child(4) {
        background: linear-gradient(45deg, #140a1d 40%, #b28bd1);
    }
}

.playToEarnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    .playToEarn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;

        .leftChild {
            width: 50%;

            p {
                color: #777687;
            }

            span {
                color: var(--primary-orange);
            }
        }
    }
}

.howToPlayContainer {
    text-align: center;

    p {
        color: #777687;
    }

    .cardsRow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 3rem 0;

        .column {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > div:nth-child(1) {
                background: linear-gradient(-45deg, transparent 60%, #4db2c8);
            }

            > div:nth-child(2) {
                background: linear-gradient(-45deg, transparent 60%, #7e6196);
            }
        }
    }
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .featuresContainer {
        padding: 1rem;
        .textRegular {
            font-size: 16px;
            color: #777687;
        }
    }

    .featuresCardRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .playToEarnContainer {
        padding: 1rem 2rem;
        .playToEarn {
            flex-direction: column;
            gap: 1rem;

            img {
                width: 300px !important;
                height: 300px !important;
            }

            .leftChild {
                width: 100%;
                text-align: center;
            }
        }
    }

    .howToPlayContainer {
        padding: 1rem;
        .cardsRow {
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;

            .cardImg {
                display: none !important;
            }
        }
    }
}
