.textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: #777687;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.9));
    padding: 2rem;
}

.howToPlayContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;

    .textDiv {
        li {
            color: #777687;
        }
    }
}
